.local-quizanon-gradesettings-form-search-container {
    display: contents;
}

.local-quizanon-gradesettings-form-search-container .input-group {
    width: fit-content;
}

fieldset#id_searchoption input#id_anonsearch {
    display: none;
}
